@using System.ComponentModel.DataAnnotations
@using MaestroNotes.Data
@inject MusicService Service

<EditForm Model="@currentRecord">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <div style="display: flex;">
        <div class="form-group">
            <label for="Komponist">Komponist (Legacy):</label>
            <InputText id="Komponist" class="form-control" @bind-Value="currentRecord.KomponistLegacy" />
            <ValidationMessage For="@(() => currentRecord.KomponistLegacy)" />
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="form-group">
            <label for="Werk">Werk (Legacy):</label>
            <InputText id="Werk" class="form-control" @bind-Value="currentRecord.WerkLegacy" />
            <ValidationMessage For="@(() => currentRecord.WerkLegacy)" />
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="form-group">
            <label for="Orchester">Orchester (Legacy):</label>
            <InputText id="Orchester" class="form-control" @bind-Value="currentRecord.OrchesterLegacy" />
            <ValidationMessage For="@(() => currentRecord.OrchesterLegacy)" />
        </div>
    </div>
    <div style="display: flex;">
        <div class="form-group">
            <label for="Dirigent">Dirigent (Legacy):</label>
            <InputText id="Dirigent" class="form-control" @bind-Value="currentRecord.DirigentLegacy" />
            <ValidationMessage For="@(() => currentRecord.DirigentLegacy)" />
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="form-group">
            <label for="Solist">Solist (Legacy):</label>
            <InputText id="Solist" class="form-control" @bind-Value="currentRecord.SolistLegacy" />
            <ValidationMessage For="@(() => currentRecord.SolistLegacy)" />
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="form-group">
            <label for="Ort">Ort:</label>
            <InputText id="Ort" class="form-control" @bind-Value="currentRecord.Ort" />
            <ValidationMessage For="@(() => currentRecord.Ort)" />
        </div>
    </div>
    <div class="form-group">
        <label for="Bewertung">Bewertung:</label>
        <InputTextArea id="Bewertung" class="form-control" @bind-Value="currentRecord.Bewertung" rows="8" />
        <ValidationMessage For="@(() => currentRecord.Bewertung)" />
    </div>
    <div style="display: flex;">
        <div class="form-group">
            <label for="Spielsaison">Spielsaison:</label>
            <select id="Spielsaison" class="form-control" @bind="currentRecord.Spielsaison">
            @foreach(string n in DefaultLists.SpielSaisonList)
            {
                @if (n!="")
                {
                    <option value="@n">@n</option>
                }
            }
            </select>
            <ValidationMessage For="@(() => currentRecord.Spielsaison)" />
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="form-group">
            <label for="Datum">Datum:</label>
            <InputDate id="Datum" class="form-control" @bind-Value="currentRecord.Datum" />
        </div>
    </div>
    <div style="display: flex;">
        <div class="flex-column">
        <br />            
            <button class="small-button" @onclick="() => Close(true)">
                <i class="fas fa-save"></i>
            </button>
            &nbsp;&nbsp;&nbsp;
            <button class="small-button" @onclick="() => Close(false)">
                <i class="fas fa-trash"></i>
            </button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public MusicRecord currentRecord { get; set; } = new();

    [Parameter]
    public EventCallback<bool> CloseCallback { get; set; }

    private void Close(bool result)
    {
        CloseCallback.InvokeAsync(result);
    }
}
